@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import "tailwindcss";

@theme {
    --color-kari-body: #0d1117;
    --color-kari-accent: #010409;
    --color-kari-button: #212830;
    --color-kari-border: #3d444d;
    --color-kari-button-hover: #262c36;
    --font-sen: "Sen", sans-serif;
    --text-shadow-glow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
    @keyframes slide-down {
        from { opacity: 0; transform: translateY(-20px); }
        to { opacity: 1; transform: translateY(0); }
    }
}

@layer base{
    body {
        background-color: var(--color-kari-body);
        font-family: var(--font-sen);
        color: white;
        transition: font-family 0.3s ease-in-out;
    }
}

html {
  scroll-behavior: smooth;
}

@utility text-glow {
    text-shadow: var(--text-shadow-glow);
}

@utility animate-slide-down {
    animation: slide-down 0.8s ease-out forwards;
}

@utility animate-delay-200 {
    animation-delay: 200ms;
}